@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito|Quicksand|Roboto&display=swap');

$box-size: 384px;
$box-size-2: 229px;
$box-color: white;
$box-border-color: #3272de;
$button-color: #555;
$background: #3a3a4d;
$color: #efefef;

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.circle {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: #fDcF51;
  margin: 50px;
}

.circle.red {
  background-color: #fd5151;
}

.circle.blue {
  background-color: #51a0fd;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0;
  z-index: 200;
}

.flex-container {
  max-width: 1220px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  &::after { /*fixex last row of orphans*/
    content: "";
    flex: auto;
  }
}

.flex-card-loader {
  width: $box-size;
  height: $box-size-2;
  margin: 10px;
  background: #FFFFFF;
  border: 1px solid #3250B3;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}
.flex-card {
  width: $box-size;
  height: $box-size-2;
  margin: 10px;
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid #3250B3;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.flex-card-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;

  &.right {
    align-items: flex-end;
  }

  .account {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9.78502px;
    line-height: 11px;
    color: #4F4F4F;
  }
  .address {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
  }
  .balance {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 57px;
    color: #0078AE;
  }
  .legend {
    width: 100%;
    margin: 10px 0 10px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .confirmation {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9.78502px;
    line-height: 11px;
    color: #4F4F4F;
  }
  .chart {
    flex: 1 1 auto;
  }
  .status {
    padding: 5px;
    background: #FF8522;
    border: 0.488438px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13.025px;
    line-height: 15px;
    text-transform: capitalize;
    color: #FFFFFF;
  }
}

.clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.retry {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 9.78502px;
  line-height: 11px;
  color: red;
  cursor: pointer;
}

/* Disappearing borders fix: https://stackoverflow.com/questions/49000385/css-border-disappears-when-child-element-has-a-background-color-and-browser-is-z/49000386 */
.search {
  /*position: relative;*/
  width: 100%;
  max-width: 1200px;
  height: 94px;
  border-top: 1px solid #6848B5;
  border-bottom: 1px solid #6848B5;
  border-left: 1px solid #6848B5;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  /* fixes border */
  /*&::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    border-top: 1px solid #6848B5;
    border-bottom: 1px solid #6848B5;
    border-left: 1px solid #6848B5
  }*/

  .search-option {
    flex: 1 1 auto;
    /*position: relative;*/
    border-right: 1px solid #6848B5;
    box-sizing: border-box;

    /* fixes border */
    /*&::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-right: 1px solid #6848B5;
    }*/

    &:last-of-type {
      border-right: none;
    }

    .search-top {
      height: 28px;
      padding: 6px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      background: #828282;
      box-sizing: border-box;
    }

    .search-bottom {
      height: 64px;
      padding: 10px 10px 10px 20px;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 15px;
      /*text-transform: uppercase;*/
      color: #DA690B;
      background: #f3f0f9;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;

      .search-row {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
        color: #222222;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;

        .spacer {
          width: 20px;
        }

        input[type=text] {
          width: 76px;
          padding: 4px;
          margin-right: 10px;
          box-sizing: border-box;
        }

        .sort {
          cursor: pointer;
        }
      }
    }

  } /* .search-option */
}




@media screen and (max-width: 768px) {
  .flex-card {
    width: 180px;
    margin: 10px;
  }
}

